body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

/* HEADER */
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  color: white;
}

/* SEARCH */
#searchInput {
  width: 90%;
  padding: 10px;
  margin: 20px;
}

/* GRID */
.category-grid, .product-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

/* CARDS */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}

/* BUTTON */
button {
  padding: 8px 12px;
  cursor: pointer;
}

/* PARTNER */
.partner {
  text-align: center;
  padding: 40px;
  background: #fff;
  margin-top: 40px;
}
